<mjml>
  <%- include('./common/head.ejs'); %>

  <mj-body background-color="#f9fafc">
    <%- include('./common/header.ejs'); %>
    <mj-wrapper padding="10px 20px">
      <mj-section background-color="#ffffff" padding-top="0">
        <mj-column>
          <mj-text>
            Bonjour
            <strong><%= data.recipient.civility %> <%= data.recipient.prenom %> <%= data.recipient.nom %></strong>,
          </mj-text>
          <mj-text>
            Vous avez créé récemment un compte sur le tableau de bord de l’apprentissage et nous vous en remercions.
          </mj-text>
          <mj-text>
            Nous avons remarqué que vous avez configuré un moyen de transmission <% if (data.mode_de_transmission ===
            'API') { %> avec l'ERP <strong><%= data.erp %></strong>, interfaçable avec le tableau de bord. <% } else {
            %> <% if (typeof data.erp_unsupported !== "undefined") { %> avec l'ERP
            <strong><%= data.erp_unsupported %></strong>, non interfaçable avec le tableau de bord et nécessitant un
            <strong>téléversement manuel</strong>.<% } else {%> nécessitant un <strong>téléversement manuel</strong>. <%
            } %> <% } %> Cependant, à ce jour, le tableau de bord n'a reçu aucune donnée concernant votre organisme.
          </mj-text>
          <mj-text>
            Veuillez cliquer sur le bouton ci-dessous pour accéder à votre espace et téléverser vos effectifs.
          </mj-text>
          <mj-text>
            Le tableau de bord collecte les données sur l’apprentissage selon le principe de minimisation des
            <a target="_blank" href="<%= utils.getPublicUrl(`/mention-information`) %>" class="link-nostyle">
              <u>données personnelles</u>
            </a>
          </mj-text>

          <mj-button
            href="<%= utils.getPublicUrl(`/effectifs/televersement`) %>"
            background-color="#0e4194"
            color="white"
          >
            Téléverser mes effectifs
          </mj-button>

          <%- include('./common/signature.ejs'); %>
        </mj-column>
      </mj-section>
    </mj-wrapper>
    <%- include('./common/footer.ejs'); %>
  </mj-body>
</mjml>
