<mjml>
  <%- include('./common/head.ejs'); %>

  <mj-body background-color="#f9fafc">
    <%- include('./common/header.ejs'); %>
    <mj-wrapper padding="10px 20px">
      <mj-section background-color="#ffffff" padding-top="0">
        <mj-column>
          <mj-text>
            Bonjour <strong><%= data.user.civility || "Madame, Monsieur" %> <%= data.user.nom %></strong>,
          </mj-text>
          <mj-text>
            <div>
              Vous venez de créer votre compte (<%= data.user.email %>) sur le
              <strong>tableau de bord de l'apprentissage</strong> et nous vous en remercions. <br /><br />Si vous êtes
              bien à l'origine de cette demande, merci de cliquer sur le lien ci-dessous afin d'activer votre compte.
              Votre identifiant est votre courriel.
            </div>
          </mj-text>
          <mj-button
            href="<%= utils.getPublicUrl(`/auth/confirmation?activationToken=${data.activationToken}`) %>"
            background-color="#0e4194"
            color="white"
          >
            Je valide mon compte
          </mj-button>

          <mj-text>
            En cas de difficultés, n'hésitez pas à contacter notre équipe support à l'adresse suivante :
            <a href="mailto:<%= data.email %>"><%= data.email %></a>
          </mj-text>

          <%- include('./common/signature.ejs'); %>
        </mj-column>
      </mj-section>
    </mj-wrapper>
    <%- include('./common/footer.ejs'); %>
  </mj-body>
</mjml>
