<mjml>
  <%- include('./common/head.ejs'); %>

  <mj-body background-color="#f9fafc">
    <%- include('./common/header.ejs'); %>
    <mj-wrapper padding="10px 20px">
      <mj-section background-color="#ffffff" padding-top="0">
        <mj-column>
          <mj-text>
            Bonjour <strong><%= data.recipient.civility %> <%= data.recipient.prenom %> <%= data.recipient.nom %></strong>,
          </mj-text>
          <mj-text font-size="16px" line-height="24px" color="#000000">
            <div>
              Une demande de réinitialisation de mot de passe a été faite pour votre compte (<%= data.recipient.email
              %>). <br /><br />Si vous êtes à l'origine de cette demande,<br />
              merci de cliquer sur le lien ci-dessous :
            </div>
          </mj-text>

          <mj-button
            href="<%= utils.getPublicUrl(`/auth/modifier-mot-de-passe?passwordToken=${data.resetPasswordToken}`) %>"
            background-color="#0e4194"
            color="white"
          >
            Lien de réinitialisation de mot de passe (valable 1h)
          </mj-button>

          <%- include('./common/signature.ejs'); %>
        </mj-column>
      </mj-section>
    </mj-wrapper>
    <%- include('./common/footer.ejs'); %>
  </mj-body>
</mjml>
